h1 {
  color: white;
  background-color: #ed553b;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #ed553b;
}
.grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
body {
  background-color: #58a5bd;
}
.items {
  position: relative;
  background-color: lightcoral;
}
.item p {
  position: absolute;
  top: 50%;
  left: 50%;
}
.links a {
  margin: 20px;
}

.header h1 {
  margin: 20px;
}
li {
  margin: 20px;
}
.items {
  margin: 30px;
}
i {
  margin: 20px;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
.items:hover img {
  transform: scale(0.95);
  opacity: 0.5;
}
